@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --font-sans: "Inter";
}

@media (min-width: 768px) {
  div#ladle-root {
    flex-direction: row-reverse;
  }

  div[data-reach-dialog-overlay] > div {
    right: 21px;
    inset-inline-start: auto;
  }
}

body {
  position: relative;
}
