---

const latestReleaseLink = "https://github.com/oggnimodd/ai-prompt-snippets/releases/latest";

interface Props {
  label: string;
}

const { label } = Astro.props;
---

<a href={latestReleaseLink}>{label}</a>