
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

.ladle-main > div {
  @apply min-h-screen px-10 pt-10;
}

#ladle-root > div {
  @apply !min-h-screen;
}

.ladle-main,
.frame-content {
  @apply bg-white p-0;
}

[data-theme="dark"] .ladle-main,
[data-theme="dark"] .frame-content {
  @apply bg-black p-0;
}

.dark .ladle-background{
  @apply bg-black;
}
